.imageContainers {
    width: 50%;
    background: white;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(146, 80, 80, 0.1);
    height: auto;
    flex-wrap: wrap;
    gap: 5px;
   
}

.imageContainers > p {
    color: black;
}

.image {
    height: auto;
    width: 50%;
    margin-bottom: 1rem;
    object-fit: contain;
    flex-wrap: wrap;
}

.paintingDisplay p {
    margin: 5px 0;
    text-align: center;
}

.paintingDisplay .title {
    font-weight: bold;
    font-size: 16px;
}

.paintingDisplay .author {
    font-style: italic;
    font-size: 14px;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .pagination {
    display: flex;
    gap: 10px; 
  }
  
  .page-btn {
    background-color: #ffffff; 
    color: #007bff; 
    border: 1px solid #007bff;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease; 
    font-size: 16px; 
  }
  
 
  .page-btn:hover {
    background-color: #007bff; 
    color: white; 
    transform: translateY(-2px); 
  }
  
  
  .page-btn.active {
    background-color: #0056b3; 
    color: white; 
    border-color: #0056b3;
  }
  
 
  .page-btn:active {
    transform: translateY(1px); 
  }
  