.imageContainers {
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
}

.imageContainers > p {
    color: black;
}

.image {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}